:root {
    --background-color: rgba(11, 19, 43, 0.75);
    --primary-1: rgba(28, 37, 65, 0.5);
    --primary-2: #3a506bff;
    --text-color: #f9f9f9;
    --text-color-dark: #0f0f0f;
    --active: #6fffe9ff;
    --secondary-1: #5bc0beff;
    --secondary-2: #f6e8eaff;
    /*--secondary-2-transparent: rgba(246, 232, 234, 0.75);*/
    --attention: #fb3640ff;
}