/* CSS HEX */

:root {
    --medium-purple: #9381ffff;
    --imperial-red: #e63946ff;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
    --oxford-blue: #0a1128ff;
}