* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0px;
    color: var(--text-color);
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid var(--secondary-2);
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-1);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    text-align: left;
    vertical-align: middle;
    -webkit-app-region: no-drag;
}

hr {
    margin: 2px;
    border-top: 1px solid var(--secondary-2);
}

input {
    outline: none;
    border: none;
    /*transparent color*/
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    width: 100%;
    -webkit-app-region: no-drag;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-app-region: no-drag;
}

textarea:focus {
    outline: none;
}


/* Custom elements */

.slider {
    -webkit-appearance: none;
    height: 10px;
    background-color: var(--primary-2);
    opacity: 0.5;
    transition: opacity 200ms;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--secondary-1);
    cursor: pointer;
}


/* IDs */

#navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: var(--primary-1);
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#navigationBar li a {
    display: block;
    color: var(--text-color);
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

#navigationBar li a:hover:not(#navActive) {
    background-color: var(--primary-2-5);
}

@media screen and (max-width: 700px) {
    #navigationBar ul {
        width: 175px;
    }
}

#topBar {
    z-index: 2;
    position: fixed;
    left: 25%;
    top: 0;
    height: 2em;
    width: 75%;
    background-color: var(--primary-1);
    margin-top: 0px;
    -webkit-app-region: drag;
}

#topBar input {
    height: 100%;
    width: calc(100% - 2em);
    padding-right: 0;
    padding-left: 1em;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

#topBar button {
    text-align: center;
    float: right;
    color: var(--text-color);
    margin-right: 0px;
    margin-top: 0px;
    height: 30px;
    width: 3em;
}

#topBarRefresh {
    position: fixed;
    top: 0;
    right: 3em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-image: url(./refresh.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#topBarRefresh:hover {
    background-color: var(--secondary-1);
}

#topBarClose {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 0px;
    margin-top: 0px;
}

#topBarClose:hover {
    background-color: var(--attention);
}

#mainScreen {
    margin-left: 25%;
    overflow-x: auto;
}

@media screen and (max-width: 700px) {
    #mainScreen {
        margin-left: 175px;
    }
}

#fileList {
    position: absolute;
    margin-top: 2em;
    /* Avoid bottom bar */
    padding-bottom: 3.5em;
    height: 100%;
    width: 75%;
    background-color: var(--background-color);
    overflow-y: auto;
}

#fileList p {
    margin-top: 0px;
}

#fileList a {
    display: inline-block;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 16px;
    padding-left: 0.5em;
}

#fileList a:hover {
    /* Due to unknown bug reason, background will be update using function in api.js */
    background-color: var(--primary-2-5);
}

#bottomBar {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 14px;
    height: 1.5em;
    width: 100%;
    padding-top: 0.25em;
    color: var(--text-color);
    background-color: var(--primary-2-5);
}

#bottomBar * {
    margin: 0 0.25em;
    padding: 0;
}

#clipboardStatus {
    float: right;
    max-height: 1em;
}


/*class*/

.activeColor {
    background-color: var(--active);
    color: var(--text-color-inverted);
}